@font-face {
  font-family: "Scratched Letters";
  src: url("../fonts/titular/Scratched Letters.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Schablonierschrift_Cracked";
  src: url("../fonts/secundaria/Schablonierschrift_Cracked.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Essays1743";
  src: url("../fonts/texto/Essays1743.ttf");
  font-style: normal;
  font-weight: normal;
}
body, html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url("../imagenes/fondo.gif");
  background-size: 3%;
  background-repeat: repeat;
}

.grid-contenedor-santos {
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  /*     display: grid;
      grid-template-columns: ;
      grid-template-rows: ;
      grid-template-areas:  
    ; */
}

.titulo-santos {
  font-family: "Scratched Letters";
  display: block;
  text-align: right;
  color: #b97a06;
  background-color: #000000;
  font-size: 3.5rem;
  font-weight: 10;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .titulo-santos {
    text-align: center;
    padding-top: 0.1rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}

.link-santos {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  font-family: "Schablonierschrift_Cracked";
  margin: 1rem;
  font-weight: 100;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .link-santos {
    font-size: 1rem;
    text-align: center;
  }
}

.link-santos:hover {
  color: #b97a06;
  -webkit-text-stroke: 0.02rem #000000;
}

.contenedor-galeria-santos {
  text-align: center;
}

.img-santos {
  width: 10rem;
  filter: grayscale(75%);
  margin: 0.5rem;
  transition: 1s;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .img-santos {
    width: 15rem;
  }
}

.img-santos:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}