@font-face {
  font-family: "Scratched Letters";
  src: url("../fonts/titular/Scratched Letters.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Schablonierschrift_Cracked";
  src: url("../fonts/secundaria/Schablonierschrift_Cracked.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Essays1743";
  src: url("../fonts/texto/Essays1743.ttf");
  font-style: normal;
  font-weight: normal;
}
body, html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url("../imagenes/fondo.gif");
  background-size: 3%;
  background-repeat: repeat;
}

.grid-contenedor-ciudad {
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  display: grid;
  grid-template-areas: "ti-ciudad ti-ciudad" "nav-ciudad nav-ciudad" "portada-ciudad tracks-ciudad";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .grid-contenedor-ciudad {
    text-align: center;
    grid-template-areas: "ti-ciudad" "nav-ciudad" "portada-ciudad" "tracks-ciudad";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.titulo-ciudad {
  font-family: "Scratched Letters";
  display: block;
  text-align: right;
  color: #b97a06;
  background-color: #000000;
  font-size: 3.5rem;
  font-weight: 10;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .titulo-ciudad {
    text-align: center;
    padding-top: 0.1rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}

.titulo-ciudad-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ti-ciudad;
}

.navegacion-ciudad {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav-ciudad;
}

.link-ciudad {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  font-family: "Schablonierschrift_Cracked";
  margin: 1rem;
  font-weight: 100;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .link-ciudad {
    font-size: 1rem;
  }
}

.img-ciudad-principal {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: portada-ciudad;
  display: inline;
  width: 26rem;
  padding: 0.1rem;
  background-image: url("../imagenes/fondo.gif");
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 0rem;
  margin-left: 13rem;
  margin-right: 1rem;
  /* TELEFONO */
}
@media only screen and (max-width: 400px) {
  .img-ciudad-principal {
    width: 20rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.contenedor-tracks-ciudad {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tracks-ciudad;
  /* TELEFONO */
}

@media only screen and (max-width: 400px) {
  .titulo-ciudad-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .navegacion-ciudad {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .img-ciudad-principal {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contenedor-tracks-ciudad {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
@media only screen and (max-width: 400px) {
  .contenedor-tracks-ciudad {
    text-align: left;
    margin-left: 1.5rem;
  }
}

.texto-ciudad {
  display: inline;
  color: #000000;
  font-family: "Essays1743";
  font-weight: 10;
  font-size: 1rem;
  margin-top: 0rem;
}

button {
  display: inline;
  padding: 0rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #b97a06;
  border: 0;
  margin-top: -0.8rem;
  margin-bottom: 2rem;
  height: 1rem;
}