a {
    text-align: center;
}

img {
    top: 0;
    left: 0;
    width: 40%;
}

#img1 {
    animation-name: anima1;
    animation-duration: 33s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#img2 {
    animation-name: anima2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#img3 {
    animation-name: anima2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes anima1 {
    0% {opacity: 0%;}
    10% {opacity: 100%;}
    25% {opacity: 0%;}
    100% {opacity: 0%;}
}

@keyframes anima2 {
    0% {opacity: 0%;}
    15% {opacity: 100%;}
    30% {opacity: 0%;}
    100% {opacity: 0%;}
}

@keyframes anima3 {
    0% {opacity: 0%;}
    20% {opacity: 100%;}
    100% {opacity: 0%;}
}